.main_part {
    width: 90%;
    height: 610px;
    margin-right: 5px;
    margin-left: 20px;
}

.main_part .left_chart {
    width: 30%;
    height: 450px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    position: relative;
    box-shadow: 0 0 10px #2C58A6;
}

.main_part .bottom_chart {
    width: 108%;
    height: 325px;
    margin-top:50px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    position: relative;
    box-shadow: 0 0 10px #2C58A6;
}

.main_part .left_chart .chart_title {
    width: 180px;
    height: 35px;
    line-height: 33px;
    background-color: #034c6a;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left:50%;
    margin-left: -90px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 35px;
    z-index: 1000;
}

.main_part .bottom_chart .chart_title {
    width: 180px;
    height: 35px;
    line-height: 33px;
    background-color: #034c6a;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left:50%;
    margin-left: -90px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 35px;
    z-index: 1000;
}