<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/echarts/3.7.0/echarts.min.js"></script>
    <title>物流大数据平台</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chartTestSta.css">
    <style>
        .t_btn {
            margin-top: 20px;
        }

        .t_btn li {
            display: inline-block;
            margin: 0 0px 20px 20px;
        }

        .t_btn button,
        .t_a {
            display: inline-block;
            padding: 10px 5px;
            width: 80px;
            border-style: solid;
            border-width: 0;
            cursor: pointer;
            font-family: inherit;
            font-weight: bold;
            line-height: normal;
            margin: 0 0 0.5em 0;
            position: relative;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            font-size: 1em;
            background-color: #2C58A6;
            border-color: #0263ff;
            color: white;
            box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
            margin-right: 0.5em;
            border-radius: 4px;
        }

        .t_height {
            line-height: 80px;
            position: absolute;
            right: 28px;
            top: 0;
        }
    </style>
</head>
<body>
<!-- head -->
<div class="header">
    <div class="bg_header">
        <div class="header_nav fl t_title">
            基本震情
        </div>
    </div>
    <div class="header_nav fl">
    </div>
    <div class="header_myself fr t_height">
        <a class="t_a" href="../index.html">返回 &nbsp;</a>
    </div>
</div>
<!-- main -->
<div class="main_part">
    <div class="left_chart">
        <!--左上边框-->
        <div class="t_line_box">
            <i class="t_l_line"></i>
            <i class="l_t_line"></i>
        </div>
        <!--右上边框-->
        <div class="t_line_box">
            <i class="t_r_line"></i>
            <i class="r_t_line"></i>
        </div>
        <!--左下边框-->
        <div class="t_line_box">
            <i class="l_b_line"></i>
            <i class="b_l_line"></i>
        </div>
        <!--右下边框-->
        <div class="t_line_box">
            <i class="r_b_line"></i>
            <i class="b_r_line"></i>
        </div>
        <div class="chart_title">
            地区地震占比
        </div>
        <div id="echartspie" class="chart" style="width:100%;height:400px;"></div>
    </div>
    <div class="bottom_chart">
        <!--左上边框-->
        <div class="t_line_box">
            <i class="t_l_line"></i>
            <i class="l_t_line"></i>
        </div>
        <!--右上边框-->
        <div class="t_line_box">
            <i class="t_r_line"></i>
            <i class="r_t_line"></i>
        </div>
        <!--左下边框-->
        <div class="t_line_box">
            <i class="l_b_line"></i>
            <i class="b_l_line"></i>
        </div>
        <!--右下边框-->
        <div class="t_line_box">
            <i class="r_b_line"></i>
            <i class="b_r_line"></i>
        </div>
        <div class="chart_title">
            每年地震计数
        </div>
        <div id="echartsbar" class="chart" style="width:100%;height:335px;"></div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        // 基于准备好的dom，初始化echarts实例
        var myChartpie = echarts.init(document.getElementById('echartspie'));
        var myChartbar = echarts.init(document.getElementById('echartsbar'));
        // 指定图表的配置项和数据
        var years=[];
        var count1=[];
        var provinces=[];
        var count2=[];
        //数据加载完之前先显示一段简单的loading动画
        myChartbar.showLoading();
        myChartpie.showLoading();

        $.ajax({
            type : "post",
            async : true,      //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/provinceCount",  //请求发送到dataActiont处
            data : {},
            dataType : "json",    //返回数据形式为json
            success : function(result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    for(var i=0;i<result.length;i++){
                        provinces.push(result[i].name);
                        count2.push(result[i].value);
                    }
                    myChartpie.hideLoading();  //隐藏加载动画
                    myChartpie.setOption(
                        {
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                x: 'center',
                                y: '10%',
                                icon: 'circle',
                                data: provinces,
                                textStyle: {
                                    color: '#fff',
                                }
                            },
                            color: ['#f845f1','#ad46f3','#5045f6','#4777f5','#44aff0','#45dbf7','#f6d54a','#f69846','#ff4343'],
                            series: [
                                {
                                    //name: '物料来源',
                                    type: 'pie',
                                    //起始角度，支持范围[0, 360]
                                    startAngle: 0,
                                    //饼图的半径，数组的第一项是内半径，第二项是外半径
                                    radius: ['5%', '65%'],
                                    center: ['50%', '60%'],
                                    //是否展示成南丁格尔图，通过半径区分数据大小。可选择两种模式：
                                    // 'radius' 面积展现数据的百分比，半径展现数据的大小。
                                    //  'area' 所有扇区面积相同，仅通过半径展现数据大小
                                    roseType: 'radius',
                                    //是否启用防止标签重叠策略，默认开启，圆环图这个例子中需要强制所有标签放在中心位置，可以将该值设为 false。
                                    avoidLabelOverlap: false,
                                    label: {
                                        normal: {
                                            show: true,
                                            formatter: '{b} : {c} ({d}%)'
                                        },
                                        emphasis: {
                                            show: true
                                        }
                                    },
                                    labelLine: {
                                        normal: {
                                            show: true,
                                            length2: 1,
                                        },
                                        emphasis: {
                                            show: true
                                        }
                                    },
                                    data: result,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        }
                    );
                }
            },
            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChartpie.hideLoading();
            }
        });//end ajax

        $.ajax({
            type : "post",
            async : true,      //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/yearCount",  //请求发送到dataActiont处
            data : {},
            dataType : "json",    //返回数据形式为json
            success : function(result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    for(var i=0;i<result.length;i++){
                        years.push(result[i].name);
                        count1.push(result[i].value);
                    }
                    myChartbar.hideLoading();  //隐藏加载动画
                    myChartbar.setOption(
                        {
                            tooltip: {
                                trigger: 'axis',
                                formatter: "{b} 年: {c} 次"
                            },
                            legend: {
                                data:['地震次数']
                            },
                            color: ['#4BF0FF','#44AFF0','#4E82FF','#584BFF','#BE4DFF','#F845F1'],
                            xAxis:{
                                data: years,
                                splitLine: {
                                    show: false
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#fff'
                                    }
                                }
                            },
                            yAxis:{
                                title:'次',
                                type: 'value',
                                splitLine: {
                                    show: false
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#fff'
                                    }
                                }
                            },
                            series: [{
                                type: 'bar',
                                barWidth:'20',
                                data: count1
                            }]
                        }
                    );
                }
            },
            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChartbar.hideLoading();
            }
        });//end ajax
    });//刷新方法结束
</script>
</html>