<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo2.mapper.CodeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo2.bean.Code" >
    <id column="ca_id" property="caId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="town_name" property="townName" jdbcType="VARCHAR" />
    <result column="village_name" property="villageName" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="search_count" property="searchCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ca_id, code, type_code, name, province_name, city_name, district_name, town_name, 
    village_name, img, level, search_count
  </sql>

  <select id="findCode"  resultType="java.lang.String">
    select code
    from china_administrative
    where province_name=#{province} and city_name=#{city} and district_name=#{district}
    and town_name=#{town} and village_name=#{village}
  </select>

</mapper>