<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.DisasterMapper">
  <resultMap id="BaseResultMap" type="com.example.demo2.bean.Disaster">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="d_id" jdbcType="CHAR" property="dId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="longitude" jdbcType="REAL" property="longitude" />
    <result column="latitude" jdbcType="REAL" property="latitude" />
    <result column="depth" jdbcType="REAL" property="depth" />
    <result column="magnitude" jdbcType="REAL" property="magnitude" />
    <result column="reporting_unit" jdbcType="VARCHAR" property="reportingUnit" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="village" jdbcType="VARCHAR" property="village" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo2.bean.Disaster">
    <result column="picture" jdbcType="LONGVARBINARY" property="picture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, d_id, province, date, location, longitude, latitude, depth, magnitude, reporting_unit, 
    city, country, town, village
  </sql>
  <sql id="Blob_Column_List">
    picture
  </sql>

</mapper>